{% extends 'base.html.twig' %}

{% block title %}Nouvelle commande{% endblock %}

{% block body %}
    <div class="d-flex justify-content-start">
        <div class="p-1 mr-5">Nouvelle commande</div>
    </div>
    
    {{ form(form) }}

{% endblock %}
