
body {
    background-color: lightgray;
}

.logo {
    width: 34%;
}

.titreShowOrder {
    border: 1px blue solid;
    border-radius: 4px;
    background-color: blue;
    color: white;
}

.subTitleShowOrder {
    font-size : 1.5em;
}

.filter {
    display: block;
    position: sticky;
}